
h1{
    color:green;
    font-style: italic;
    font-size: 18px;
}
.Container{
    margin: 10px;
    padding: 10px;;
}
body{

    background: lightgray;
    font-family: sans-serif;

}
Label{
   font:normal 14px verdana; /*setting all font properties in oneline*/
   color: black; 
}
.box1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    background:gainsboro;
    padding: 5px;
    margin :20px;
    border: 2px solid gray;
  
  

}
.Category{
    border: red dotted 2px;
    padding:10px;
    margin:20px;

}
.Category h2 /*h2 inside category div*/
{
    color: coral;
    font:22px Verdana italic;
    
}
.Category ul{
    font-style: italic;
    list-style: square;/*will set square for bullet*/
    color:green;
    list-style: none; /*will reomove bullet from list items*/
}
.Category li{
margin-bottom: 24px;
}
a{ text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color:goldenrod;
}
a:hover{
    color:yellow;
}
a:visited{
    color:blue;

}
a:active{
    color: red;
}

.my-form{
    padding :20px;
    background:burlywood;
    
}
.my-form .formgroup{
    padding :10px;
    font-style: oblique;
    color: crimson;
} 
.my-form input[type=text], input[type=number]{
    margin: 5px;
    padding: 10px;
    width:95%;
       
}
.my-form input[type=submit]{
    background: black;
    color: yellow;
    padding: 10px,15px;
   
}
.block{
    float:left;
    width:32.8%;
    padding: 5px;
    margin:2px;
    border:1px solid gray;
    box-sizing:border-box;
}

/* tried to create a upper layer on form --
.Shadow{

    background:lightgreen;
    position: absolute;
    top:40px;
    left:10px;
    width:800px;
    height:600px;
}
*/

.p-box{

    border: 2px red double;
    background: beige;
    position: relative;

}
.p-box h1{
    position: absolute;
    top :50px;
    left:100px;
}