<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:chartreuse;padding:15px">
        <lable style="color:lightslategrey; font-size:large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
            My Store Online...

        </lable>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
