<div class="container-fluid bg-primary-subtle p-1">
<button id="btnAbout" (click)="btnAbout()">About</button>
<P  id="pActive" #pActive class="bg-warning-subtle">oraganization of code is like RootModule contains RootComponent, another Module called newModule exports newComponent and two services to root module which is used by RootComponent</P>
</div>
<h1 class="bg-primary-subtle"> Jai Shri Ganesh!!</h1>
<div class="container-fluid">
<button class="btn btn-primary"> Test</button>

</div>
<app-new-component></app-new-component>
<!-- <ul>
  <li *ngFor="let num of data">
    {{num}}
  </li>
</ul> -->

<div>Data coming from DataService : {{data}}</div>