<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="background-color:forestgreen">
    <label>User Agent : @ViewBag.FromContext</label>
    <div style="width:auto">
    <input  style="width:400px; margin:10px;" type="text" value="@ViewBag.First" /><br />
    <input  style="width:300px" type="text" value="@ViewData["Second"]" />
        </div>
</body>
</html>
