<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="background-color:cornflowerblue">
    <h1> @ViewBag.Name</h1>
    <Marquee><div>
    <h2 style="color:yellow">police  car</h2>
        <img src="leaf1.png" width="300" height="300" />


</div></Marquee>

    <input type="text" value="@ViewBag.Name" />
</body>
</html>

