<!--h1 style="background-color:cornflowerblue"> Hello World!!</h1>

<div class="appserver">
  <app-server></app-server>
</div>

<databindingExample></databindingExample>

<hr />
<directivetest></directivetest>

<app-viewchildtest></app-viewchildtest>-->

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/databinding">DataBiniding </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/directive" >directive </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/parentChild">ParentChild</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
